@using Utilities.Common
@using Utilities.Enums
@using static Utilities.Enums.EnumTypes
@model ClassManagement.Mvc.Models.Class.CreateClassViewModel

@{
    ViewData["Title"] = "Tạo mới";

    Layout = "_AdminLayout";

    var dayOfWeekList = new Dictionary<DayOfWeek, string>
    {
        { DayOfWeek.Monday, "Thứ hai" },
        { DayOfWeek.Tuesday, "Thứ ba" },
        { DayOfWeek.Wednesday, "Thứ tư" },
        { DayOfWeek.Thursday, "Thứ năm" },
        { DayOfWeek.Friday, "Thứ sáu" },
        { DayOfWeek.Saturday, "Thứ bảy" },
        { DayOfWeek.Sunday, "Chủ nhật" }
    };

    var classPeriodList = new Dictionary<ClassPeriod, string>
    {
        { ClassPeriod.First, "Tiết 1 (7:30 - 8:15)" },
        { ClassPeriod.Second, "Tiết 2 (8:15 - 9:00)" },
        { ClassPeriod.Third, "Tiết 3 (9:00 - 9:45)" },
        { ClassPeriod.Fourth, "Tiết 4 (10:00 - 10:45)" },
        { ClassPeriod.Fifth, "Tiết 5 (10:45 - 11:30)" },
        { ClassPeriod.Sixth, "Tiết 6 (13:00 - 13:45)" },
        { ClassPeriod.Seventh, "Tiết 7 (13:45 - 14:30)" },
        { ClassPeriod.Eighth, "Tiết 8 (14:30-15:15)" },
        { ClassPeriod.Ninth, "Tiết 9 (15:30-16:15)" },
        { ClassPeriod.Tenth, "Tiết 10 (16:15-17:00)" },
    };
}

<div class="container">
    <div class="card mt-3">
        <div class="card-header" style="background-color: rgba(0, 0, 0, 0.03); height: 40px;">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home">Bảng điều khiển</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Class">Danh sách</a>
                </li>
                <li class="breadcrumb-item active">
                    @ViewData["Title"]
                </li>
            </ol>
        </div>
        <div class="card-body">
            <form asp-action="CreateClass" enctype="multipart/form-data" onsubmit="return jQueryOnCreate(this,'Class','Index');">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Id" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                </div>
                                <input asp-for="Id" class="form-control" type="text" />
                            </div>
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                </div>
                                <input asp-for="Name" class="form-control" type="text" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SubjectId" class="control-label"></label>
                            <div class="input-group">
                                @await Component.InvokeAsync("RenderSubjects")
                            </div>
                            <span asp-validation-for="SubjectId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TeacherId" class="control-label"></label>
                            <div class="input-group">
                                @await Component.InvokeAsync("RenderClientsByRoleName", new { roleName = RoleConstants.TEACHER_NAME })
                            </div>
                            <span asp-validation-for="TeacherId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="SemesterId" class="control-label"></label>
                            <div class="input-group">
                                @await Component.InvokeAsync("RenderSemesters")
                            </div>
                            <span asp-validation-for="SemesterId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="ClassType" class="control-label"></label>
                            @Html.DropDownListFor(model => model.ClassType,
                                     new SelectList(Enum.GetValues(typeof(ClassType))),
                                     "---Hình thức---",
                                     new { @class = "form-select select-item", @onchange = "toggleClassTypeInput()" })
                            <span asp-validation-for="ClassType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="StartedAt" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                </div>
                                <input asp-for="StartedAt" class="form-control" type="date" />
                            </div>
                            <span asp-validation-for="StartedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EndedAt" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                </div>
                                <input asp-for="EndedAt" class="form-control" type="date" />
                            </div>
                            <span asp-validation-for="EndedAt" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group" id="ClassSizeInput">
                            <label asp-for="ClassSize" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">#</div>
                                </div>
                                <input asp-for="ClassSize" class="form-control" type="number" min="0" />
                            </div>
                            <span asp-validation-for="ClassSize" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DayOfWeek" class="control-label"></label>
                            @Html.DropDownListFor(model => model.DayOfWeek,
                                     new SelectList(dayOfWeekList.Values),
                                     "----Ngày học----",
                                     new { @class = "form-select select-item" })
                            <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ClassPeriods" class="control-label"></label>
                            @Html.DropDownListFor(model => model.ClassPeriods,
                                     new SelectList(classPeriodList.Values),
                                     "----Tiết học----",
                                     new { @class = "form-select select-item", @multiple = "multiple" })
                            <span asp-validation-for="ClassPeriods" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-3">
                        <input type="submit" value="Tạo" class="btn btn-danger ip-custom btn-custom" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

