@using ClassManagement.Mvc.Models.Subject
@model SubjectViewModel

@{
    ViewData["Title"] = "Chi tiết";

    Layout = "_AdminLayout";
}

<div class="container">
    <div class="card mt-3">
        <div class="card-header" style="background-color: rgba(0, 0, 0, 0.03); height: 40px;">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home">Bảng điều khiển</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Subject">Danh sách</a>
                </li>
                <li class="breadcrumb-item active">
                    @ViewData["Title"]
                </li>
            </ol>
        </div>
        <div class="custom-div" id="subject-detail">
            @await Html.PartialAsync("_SubjectDetailPartialView", Model)
        </div>
    </div>
</div>
