@model ClassManagement.Mvc.Models.Clients.UpdateClientViewModel

@{
    Layout = "";

    var idName = $"#{Model.UserName}";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdateClient" onsubmit="return jQueryPost('@idName',this,'Thay đổi');" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Id" class="form-control" type="text" readonly />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="UserName" class="form-control" type="text" readonly />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Firstname" class="form-control" />
                </div>
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Lastname" class="form-control" />
                </div>
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="DateOfBirth" class="form-control" type="date" />
                </div>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="DepartmentName" class="form-control" type="text" readonly />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Address" class="form-control" type="text" />
                </div>
            </div>
            <div class="form-group col-md-12 mt-3">
                <input type="submit" value="Lưu" class="btn btn-danger ip-custom btn-custom" />
            </div>
        </form>
    </div>
</div>