@using ClassManagement.Mvc.Models.Page
@using ClassManagement.Mvc.Models.Notify
@model PageResultViewModel<NotifyViewModel>

@{
    ViewData["Title"] = "Trang quản trị";

    Layout = "_AdminLayout";
}

<h2 style="text-align:center">@ViewData["Title"]</h2>